.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 6px 0;
  padding: 12px;
}

.list-item img {
  margin-right: 16px;
}

.list-item svg {
  margin-left: 16px;
  cursor: pointer;
}

.list-item p {
  margin: 0;
  flex: 1;
}

.list-item.favorite svg {
  color: #ffbe23;
}
