.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #cecece;
  border-radius: 4px;
  margin: 12px 0;
  padding: 12px;
}

.list-item img {
  margin-right: 8px;
}

.list-item p {
  margin: 0;
}

.list-item.favorite {
  border-color: dodgerblue;
}
