.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: min(100%, 1000px);
}

.tab {
  flex: 1;
  padding: 16px;
  background-color: white;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab.active {
  border-bottom: 4px solid #00b4ff;
}

.tab-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: min(100%, 800px);
}

.tab-content-container button {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background: #ed4e4e;
  border: 2px solid #8c2121;
  border-radius: 8px;
  width: 150px;
  padding: 8px;
  cursor: pointer;
}

.tab-content-container button.paused {
  background: #4b9c4b;
  border-color: #095309;
}

.tab-content-container button:hover {
  background-color: #b64848;
}

.tab-content-container button.paused:hover {
  background-color: #268a26;
}

