<div class="book-container">
  <div class="tab-container">
    <button class="tab" [class.active]="currentTab === 'FEED'" (click)="setTab('FEED')">
      Joke Feed
    </button>
    <button class="tab" [class.active]="currentTab === 'FAV'" (click)="setTab('FAV')">
      Favorites [{{this.favoriteJokes.length}}/{{this.favoriteLimit}}]
    </button>
  </div>
  <div class="tab-content-container">
    @switch (currentTab) {
      @case ('FEED') {
        <button [class.paused]="feedStatus" (click)="toggleFeed()">{{ feedStatus ? 'Play' : 'Pause' }}</button>
        <app-joke-list [items]="(jokeFeedItems$ | async) ?? []" (itemClicked)="itemClicked($event)"></app-joke-list>
      }
      @case ('FAV') {
        <app-joke-list [items]="favoriteJokes" (itemClicked)="itemClicked($event)"></app-joke-list>
      }
    }
  </div>
</div>
